<mat-form-field>
  <input
      matInput
      placeholder="Customer"
      aria-label="Number"
      [matAutocomplete]="autoCustomer"
      (ngModelChange)=customerChanged($event)
      [(ngModel)]="selectedCustomer"
  >
  <mat-autocomplete #autoCustomer="matAutocomplete">
      <mat-option
          *ngFor="let customer of customers$ | async"
          [value]="customer.contactName"
      >
          <span>
              {{ customer.contactName}}  {{customer.contactTitle}} |
          </span>
          <small>
              {{ customer.address}}  {{customer.city }}
          </small>
      </mat-option>
  </mat-autocomplete>
</mat-form-field>
<button
    color="primary"
    mat-raised-button
    (click)=addCustomer()
    class="float-right add-btn" 
>
    <mat-icon aria-label>add</mat-icon>
</button>


<div class="cutomer-details">
    <div class="row">
        <div class="col">
                <div><label>Name:</label><p>Maryam Mamdouh</p></div>
                <div><label for="">Primary Phone </label> <p>01024057087</p></div>
                <div><label for="">Secondary phone </label><p>01008161016</p></div>
        </div>
        <div class="col">
                <div><label>Address:</label>
              
                        <p><span *ngIf="true"> Government: Cairo</span></p>
                        <p><span *ngIf="true"> Region: Mania</span></p>
                        <p><span *ngIf="true"> Detailed-Address: 9 Manial street - 4th floor - appartment 5 </span></p>
                
                
              
            </div>
        </div>
    </div>
    

</div>