<div class="row ">

  <!-- order form -->

  <div class="example-container">
    
    <div class="row">
      <mat-form-field
          [hideRequiredMarker]="options.value.hideRequired"
          [floatLabel]="options.value.floatLabel">
        <input matInput placeholder="Simple placeholder" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field [floatLabel]="options.value.floatLabel">
        <mat-label>Both a label and a placeholder</mat-label>
        <input matInput placeholder="Simple placeholder">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field
          [hideRequiredMarker]="options.value.hideRequired"
          [floatLabel]="options.value.floatLabel">
        <mat-select required>
          <mat-option>-- None --</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
      </mat-form-field>
    </div>
  </div>
    
</div>