.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .example-radio-group {
    display: inline-flex;
   
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  .example-radio-button{
    width:35%
  }
  .mat-radio-button {
    margin: 0 12px;
  }
  
  .radio-button{
    margin: 0px;
  }
  .submit-area{
    margin: 1rem 0; 
  }
  .mat-btn-lg{
    padding: 0.5rem 1rem;
    }