.side-container {
    position: absolute;
    height: 90vh;
    .sidbar-list-item {
      &:hover{
        cursor: pointer;
      }
    }
    
  }
  
  .sidenav-content {
   
  }
  .st-image{
    width: 40px;
    height: 40px
}