<mat-toolbar>
    <mat-toolbar-row>
        <button
            type="button"
            mat-button
            (click)="drawer.toggle()"
        >
        <mat-icon>
            menu
        </mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container
    autosize
    class="side-container"
>
    <mat-drawer
        #drawer
        mode="side"
    >
        
        <div class="sidenav-content">
            <mat-list>
                <mat-list-item *ngFor="let route of routes"  class="sidbar-list-item" routerLink="{{route.routeUrl}}">
                    <mat-icon svgIcon="{{route.icon}}"></mat-icon>
                    <h4  mat-line>{{route.name}}</h4>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-drawer>

</mat-drawer-container>
<div style="height: 90vh">
    <router-outlet></router-outlet>
</div>
