<mat-toolbar>
    <mat-toolbar-row>
        <button
            type="button"
            mat-button
            (click)="drawer.toggle()"
        >
            Toggle sidenav
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container
    autosize
    class="side-container"
>
    <mat-drawer
        #drawer
        mode="side"
    >
        <button
            mat-raised-button
            (click)="drawer.toggle()"
        >
            Toggle
        </button>
        <div class="sidenav-content">
            <mat-list>
                <mat-list-item *ngFor="let route of routes" routerLink="{{route.routeUrl}}">
                    <mat-icon svgIcon="{{route.icon}}"></mat-icon>
                    <h4 mat-line>{{route.name}}</h4>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-drawer>

</mat-drawer-container>
<div style="height: 98vh">
    <router-outlet></router-outlet>
</div>
