<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Customer</mat-panel-title>
        </mat-expansion-panel-header>
        <app-customer-order (model)=xx></app-customer-order>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Products</mat-panel-title>
        </mat-expansion-panel-header>
        <app-product-order></app-product-order>
    </mat-expansion-panel>
</mat-accordion>
