<button
    color="primary"
    mat-button
    (click)="addNewLine()"
>
    <mat-icon aria-label>add</mat-icon>
</button>
<table>
    <thead>
        <tr>
            <th *ngFor="let col of tableSetting">{{col.headerName}}</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data">
            <td *ngFor="let setting of tableSetting">
                <p *ngIf="setting.type!=='img';else img">{{row[setting.model]}}</p>
                <ng-template #img>
                    <img class="st-image" [src]="row[setting.model]"/>
                </ng-template>
            </td>
            <td>
                <div>
                    <button
                        mat-icon-button
                        color="primary"
                        (click)="edit(row)"
                    >
                        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        color="accent"
                        (click)="delete(row)"
                    >
                        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
